<head>
  <style>
    :root {
      --tf-pill-bg: white; /* Example background color */
    }
    .badge {
      color: #93a1a1; /* Text color */
      border: 2px solid #dee2e6; /* Border color and width */
    }
    .rounded-pill {
      border-radius: 50rem; /* Adds rounded corners to the badge */
    }
  </style>
</head>
<div class="col-md-6 col-lg-4" xmlns="http://www.w3.org/1999/html">
  <div>
    <div class="card h-100">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" class="card-img-top" alt="{{ include.page.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ include.page.title }} <small class="text-muted float-end">{{ include.page.date | date_to_string }}</small></h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg); color: #93a1a1;" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
        <a href="{{ include.page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
        {% endif %}
        {% if page.video %}
        <a href="{{ include.page.video }}" class="btn btn-outline-dark">Watch Video</a>
        {% endif %}
        {% if page.dev %}
        <a href=" " class="btn btn-outline-dark">In development...</a>
        {% endif %}
        {% if page.read %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
