<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid px-5">
    <a class="navbar-brand fs-3" href="{{ '/' | prepend: site.baseurl }}">Alexander Hung</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}">HOME</a>
        <a class="nav-link" href="{{ '/about' | prepend: site.baseurl }}">ABOUT</a>
        <a class="nav-link" href="{{ '/projects' | prepend: site.baseurl }}">PROJECTS</a>
        <a class="nav-link" href="{{ '/essays' | prepend: site.baseurl }}">ESSAYS</a>
        <a class="nav-link" href="{{ '/resume.pdf' | prepend: site.baseurl }}" download="Alexander Hung's Resume" style="color: #0e84b5">RESUME</a>
      </ul>
    </div>
  </div>
</header>
