<div style="background-color: var(--tf-page-bg-color); height: 90vh" class="bg-gradient py-5 d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row">
      <h1 class="pb-5 d-flex flex-column justify-content-center text-center">About me</h1>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/cpu.svg"></span>
        <h4>Technical Skills</h4>
        <span>I am skilled in numerous programming languages, including Python, and
          proficient in web technologies such as HTML, CSS, and JavaScript. My
          expertise also covers various frameworks, development tools, and platforms
          like GitHub, Linux, and Windows. Additionally, I am well-versed in AI
          technologies, including ChatGPT and OpenAI, demonstrating a broad skill
          set in software development and data analysis.</span>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/chat-dots.svg"></span>
        <h4>Community Involvement</h4>
        <span>I actively engage in community issues, utilizing my skills and knowledge
          where I believe I can make a significant difference. My involvement is
          driven by a commitment to positively impact my local community through
          targeted, effective actions.</span>
        <br><br><br><br>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/globe.svg"></span>
        <h4>Areas of Interest</h4>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/backpack4.svg"></span>
        <h4>Education</h4>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/people.svg"></span>
        <h4>Professional Experience</h4>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/kanban.svg"></span>
        <h4>Projects and Portfolio</h4>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/file-earmark-person.svg"></span>
        <h4>Personal Development</h4>
      </div>
      <div class="col d-flex flex-column justify-content-center text-center">
        <span class="pb-4"><img width="50" src="/img/lightbulb.svg"></span>
        <h4>Future Aspirations</h4>
      </div>
      
    </div>
  </div>
</div>
